-- ============================================================
-- DOUSHA Platform - Complete Database Schema
-- Run this in Supabase SQL Editor (Dashboard > SQL Editor > New Query)
-- ============================================================

-- Enable UUID extension
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- ============================================================
-- 1. USER PROFILES
-- ============================================================
CREATE TABLE IF NOT EXISTS user_profiles (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    email TEXT UNIQUE NOT NULL,
    full_name TEXT,
    phone TEXT,
    role TEXT NOT NULL DEFAULT 'client' CHECK (role IN ('client', 'provider', 'admin')),
    avatar_url TEXT,
    bio TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- ============================================================
-- 2. CATEGORIES
-- ============================================================
CREATE TABLE IF NOT EXISTS categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    description TEXT,
    icon TEXT,
    slug TEXT UNIQUE NOT NULL,
    parent_id UUID REFERENCES categories(id) ON DELETE SET NULL,
    sort_order INTEGER DEFAULT 0,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_categories_slug ON categories(slug);
CREATE INDEX IF NOT EXISTS idx_categories_parent ON categories(parent_id);

-- ============================================================
-- 3. PROVIDERS
-- ============================================================
CREATE TABLE IF NOT EXISTS providers (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    company_name TEXT,
    description TEXT,
    address TEXT,
    city TEXT,
    region TEXT,
    postal_code TEXT,
    country TEXT DEFAULT 'Maroc',
    latitude DOUBLE PRECISION,
    longitude DOUBLE PRECISION,
    website TEXT,
    social_media JSONB DEFAULT '{}',
    is_verified BOOLEAN DEFAULT false,
    verification_date TIMESTAMPTZ,
    rating_avg NUMERIC(3,1) DEFAULT 0,
    review_count INTEGER DEFAULT 0,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE UNIQUE INDEX IF NOT EXISTS idx_providers_user ON providers(user_id);
CREATE INDEX IF NOT EXISTS idx_providers_city ON providers(city);
CREATE INDEX IF NOT EXISTS idx_providers_verified ON providers(is_verified);

-- ============================================================
-- 4. SERVICES
-- ============================================================
CREATE TABLE IF NOT EXISTS services (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    provider_id UUID NOT NULL REFERENCES providers(id) ON DELETE CASCADE,
    category_id UUID NOT NULL REFERENCES categories(id) ON DELETE RESTRICT,
    title TEXT NOT NULL,
    description TEXT NOT NULL,
    short_description TEXT,
    price_type TEXT DEFAULT 'fixed' CHECK (price_type IN ('fixed', 'hourly', 'package', 'custom')),
    base_price NUMERIC(10,2) NOT NULL,
    currency TEXT DEFAULT 'MAD',
    duration_minutes INTEGER,
    min_capacity INTEGER,
    max_capacity INTEGER,
    location_type TEXT DEFAULT 'onsite' CHECK (location_type IN ('onsite', 'online', 'both')),
    service_area TEXT,
    requirements TEXT[],
    inclusions TEXT[],
    exclusions TEXT[],
    additional_info TEXT,
    images TEXT[],
    video_url TEXT,
    availability_settings JSONB,
    is_active BOOLEAN DEFAULT true,
    is_featured BOOLEAN DEFAULT false,
    featured_until TIMESTAMPTZ,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_services_provider ON services(provider_id);
CREATE INDEX IF NOT EXISTS idx_services_category ON services(category_id);
CREATE INDEX IF NOT EXISTS idx_services_active ON services(is_active);
CREATE INDEX IF NOT EXISTS idx_services_featured ON services(is_featured);

-- ============================================================
-- 5. EVENTS
-- ============================================================
CREATE TABLE IF NOT EXISTS events (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    client_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    title TEXT NOT NULL,
    description TEXT,
    event_type TEXT NOT NULL CHECK (event_type IN ('wedding', 'birthday', 'corporate', 'conference', 'party', 'other')),
    event_date TIMESTAMPTZ NOT NULL,
    start_time TEXT,
    end_time TEXT,
    guest_count INTEGER DEFAULT 0,
    budget NUMERIC(12,2),
    currency TEXT DEFAULT 'MAD',
    venue_name TEXT,
    venue_address TEXT,
    venue_city TEXT,
    venue_region TEXT,
    venue_coordinates JSONB,
    requirements TEXT[],
    special_requests TEXT,
    status TEXT DEFAULT 'planning' CHECK (status IN ('planning', 'confirmed', 'in_progress', 'completed', 'cancelled')),
    visibility TEXT DEFAULT 'private' CHECK (visibility IN ('private', 'public')),
    is_template BOOLEAN DEFAULT false,
    template_name TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_events_client ON events(client_id);
CREATE INDEX IF NOT EXISTS idx_events_date ON events(event_date);
CREATE INDEX IF NOT EXISTS idx_events_status ON events(status);

-- ============================================================
-- 6. EVENT BUDGETS
-- ============================================================
CREATE TABLE IF NOT EXISTS event_budgets (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    event_id UUID NOT NULL REFERENCES events(id) ON DELETE CASCADE,
    category TEXT NOT NULL,
    item_name TEXT NOT NULL,
    estimated_cost NUMERIC(10,2) DEFAULT 0,
    actual_cost NUMERIC(10,2) DEFAULT 0,
    paid_amount NUMERIC(10,2) DEFAULT 0,
    notes TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_event_budgets_event ON event_budgets(event_id);

-- ============================================================
-- 7. EVENT TASKS
-- ============================================================
CREATE TABLE IF NOT EXISTS event_tasks (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    event_id UUID NOT NULL REFERENCES events(id) ON DELETE CASCADE,
    title TEXT NOT NULL,
    description TEXT,
    status TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'in_progress', 'completed')),
    due_date TIMESTAMPTZ,
    assigned_to TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_event_tasks_event ON event_tasks(event_id);

-- ============================================================
-- 8. EVENT TIMELINE ITEMS
-- ============================================================
CREATE TABLE IF NOT EXISTS event_timeline_items (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    event_id UUID NOT NULL REFERENCES events(id) ON DELETE CASCADE,
    start_time TEXT NOT NULL,
    end_time TEXT,
    activity TEXT NOT NULL,
    description TEXT,
    order_index INTEGER DEFAULT 0,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_event_timeline_event ON event_timeline_items(event_id);

-- ============================================================
-- 9. CONVERSATIONS
-- ============================================================
CREATE TABLE IF NOT EXISTS conversations (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    participant_ids UUID[] NOT NULL,
    last_message_at TIMESTAMPTZ DEFAULT NOW(),
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_conversations_participants ON conversations USING GIN(participant_ids);

-- ============================================================
-- 10. MESSAGES
-- ============================================================
CREATE TABLE IF NOT EXISTS messages (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    conversation_id UUID NOT NULL REFERENCES conversations(id) ON DELETE CASCADE,
    sender_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    content TEXT NOT NULL,
    type TEXT DEFAULT 'text' CHECK (type IN ('text', 'quote_request', 'quote_offer', 'attachment')),
    metadata JSONB,
    read_at TIMESTAMPTZ,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_messages_conversation ON messages(conversation_id);
CREATE INDEX IF NOT EXISTS idx_messages_sender ON messages(sender_id);

-- ============================================================
-- 11. QUOTES
-- ============================================================
CREATE TABLE IF NOT EXISTS quotes (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    conversation_id UUID NOT NULL REFERENCES conversations(id) ON DELETE CASCADE,
    provider_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    client_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    items JSONB NOT NULL DEFAULT '[]',
    total_amount NUMERIC(10,2) NOT NULL DEFAULT 0,
    status TEXT DEFAULT 'draft' CHECK (status IN ('draft', 'sent', 'accepted', 'rejected', 'expired')),
    valid_until TIMESTAMPTZ,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_quotes_conversation ON quotes(conversation_id);
CREATE INDEX IF NOT EXISTS idx_quotes_provider ON quotes(provider_id);
CREATE INDEX IF NOT EXISTS idx_quotes_client ON quotes(client_id);

-- ============================================================
-- 12. REVIEWS (NEW)
-- ============================================================
CREATE TABLE IF NOT EXISTS reviews (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    service_id UUID NOT NULL REFERENCES services(id) ON DELETE CASCADE,
    client_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    rating INTEGER NOT NULL CHECK (rating >= 1 AND rating <= 5),
    comment TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(service_id, client_id)
);

CREATE INDEX IF NOT EXISTS idx_reviews_service ON reviews(service_id);
CREATE INDEX IF NOT EXISTS idx_reviews_client ON reviews(client_id);

-- ============================================================
-- 13. BOOKINGS (NEW)
-- ============================================================
CREATE TABLE IF NOT EXISTS bookings (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    event_id UUID REFERENCES events(id) ON DELETE SET NULL,
    service_id UUID NOT NULL REFERENCES services(id) ON DELETE RESTRICT,
    client_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    provider_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    booking_date TIMESTAMPTZ NOT NULL,
    status TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'confirmed', 'cancelled', 'completed')),
    amount NUMERIC(10,2) NOT NULL DEFAULT 0,
    deposit_amount NUMERIC(10,2),
    payment_status TEXT DEFAULT 'pending' CHECK (payment_status IN ('pending', 'paid', 'refunded')),
    notes TEXT,
    cancellation_reason TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_bookings_client ON bookings(client_id);
CREATE INDEX IF NOT EXISTS idx_bookings_provider ON bookings(provider_id);
CREATE INDEX IF NOT EXISTS idx_bookings_service ON bookings(service_id);
CREATE INDEX IF NOT EXISTS idx_bookings_status ON bookings(status);
CREATE INDEX IF NOT EXISTS idx_bookings_date ON bookings(booking_date);

-- ============================================================
-- AUTO-UPDATE updated_at TRIGGER
-- ============================================================
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ language 'plpgsql';

-- Apply trigger to all tables with updated_at
DO $$
DECLARE
    t TEXT;
BEGIN
    FOR t IN
        SELECT table_name FROM information_schema.columns
        WHERE column_name = 'updated_at'
        AND table_schema = 'public'
    LOOP
        EXECUTE format('
            DROP TRIGGER IF EXISTS set_updated_at ON %I;
            CREATE TRIGGER set_updated_at
                BEFORE UPDATE ON %I
                FOR EACH ROW
                EXECUTE FUNCTION update_updated_at_column();
        ', t, t);
    END LOOP;
END;
$$;

-- ============================================================
-- ROW LEVEL SECURITY (RLS)
-- ============================================================
-- Enable RLS on all tables
ALTER TABLE user_profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE providers ENABLE ROW LEVEL SECURITY;
ALTER TABLE services ENABLE ROW LEVEL SECURITY;
ALTER TABLE events ENABLE ROW LEVEL SECURITY;
ALTER TABLE event_budgets ENABLE ROW LEVEL SECURITY;
ALTER TABLE event_tasks ENABLE ROW LEVEL SECURITY;
ALTER TABLE event_timeline_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE conversations ENABLE ROW LEVEL SECURITY;
ALTER TABLE messages ENABLE ROW LEVEL SECURITY;
ALTER TABLE quotes ENABLE ROW LEVEL SECURITY;
ALTER TABLE reviews ENABLE ROW LEVEL SECURITY;
ALTER TABLE bookings ENABLE ROW LEVEL SECURITY;

-- Allow full access via service_role key (used by backend)
-- These policies allow the backend (using service_role key) to do everything
CREATE POLICY "Service role full access" ON user_profiles FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON categories FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON providers FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON services FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON events FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON event_budgets FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON event_tasks FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON event_timeline_items FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON conversations FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON messages FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON quotes FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON reviews FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Service role full access" ON bookings FOR ALL USING (true) WITH CHECK (true);

-- ============================================================
-- DONE! All 13 tables created.
-- ============================================================
-- ============================================================
-- BASELINE SEED DATA (002) - CORRECTED UUIDS
-- ============================================================

-- 1. Insert Core Categories

-- 2. Insert Core Users into auth.users (Supabase Auth)
-- Password for all is 'Dousha2026!'
DO $$
DECLARE
    admin_id UUID := 'a0000000-0000-0000-0000-000000000000';
    provider_id UUID := 'e0000000-0000-0000-0000-000000000000'; -- Changed from 'p' to 'e'
    client_id UUID := 'c0000000-0000-0000-0000-000000000000';
    hashed_password TEXT := crypt('Dousha2026!', gen_salt('bf', 12));
BEGIN
    -- Admin
    IF NOT EXISTS (SELECT 1 FROM auth.users WHERE email = 'admin@dousha.com') THEN
        INSERT INTO auth.users (id, email, encrypted_password, email_confirmed_at, raw_app_meta_data, raw_user_meta_data, aud, role)
        VALUES (admin_id, 'admin@dousha.com', hashed_password, now(), '{"provider":"email","providers":["email"]}', '{"full_name":"Admin User"}', 'authenticated', 'authenticated');
    END IF;

    -- Provider
    IF NOT EXISTS (SELECT 1 FROM auth.users WHERE email = 'provider@dousha.com') THEN
        INSERT INTO auth.users (id, email, encrypted_password, email_confirmed_at, raw_app_meta_data, raw_user_meta_data, aud, role)
        VALUES (provider_id, 'provider@dousha.com', hashed_password, now(), '{"provider":"email","providers":["email"]}', '{"full_name":"Test Provider"}', 'authenticated', 'authenticated');
    END IF;

    -- Client
    IF NOT EXISTS (SELECT 1 FROM auth.users WHERE email = 'client@dousha.com') THEN
        INSERT INTO auth.users (id, email, encrypted_password, email_confirmed_at, raw_app_meta_data, raw_user_meta_data, aud, role)
        VALUES (client_id, 'client@dousha.com', hashed_password, now(), '{"provider":"email","providers":["email"]}', '{"full_name":"Test Client"}', 'authenticated', 'authenticated');
    END IF;
END $$;

-- 3. Ensure User Profiles Exist
INSERT INTO user_profiles (id, email, full_name, role)
VALUES 
    ('a0000000-0000-0000-0000-000000000000', 'admin@dousha.com', 'Admin User', 'admin'),
    ('e0000000-0000-0000-0000-000000000000', 'provider@dousha.com', 'Test Provider', 'provider'),
    ('c0000000-0000-0000-0000-000000000000', 'client@dousha.com', 'Test Client', 'client')
ON CONFLICT (email) DO UPDATE SET 
    id = EXCLUDED.id,
    full_name = EXCLUDED.full_name,
    role = EXCLUDED.role;

-- 4. Create Provider Record for the test provider
INSERT INTO providers (id, user_id, company_name, description, city, is_verified)
VALUES (uuid_generate_v4(), 'e0000000-0000-0000-0000-000000000000', 'Dousha Services', 'Ù…Ø²ÙˆØ¯ Ø®Ø¯Ù…Ø© ØªØ¬Ø±ÙŠØ¨ÙŠ', 'Ø§Ù„Ø¯ÙˆØ­Ø©', true)
ON CONFLICT (user_id) DO NOTHING;
-- ============================================================
-- EMERGENCY CLEANUP SCRIPT (003)
-- ============================================================

-- 1. Remove profiles first (due to foreign keys)
DELETE FROM user_profiles 
WHERE email IN ('admin@dousha.com', 'provider@dousha.com', 'client@dousha.com');

-- 2. Remove users from auth.users (This should trigger internal cleanups in Supabase)
-- We try to delete by email since IDs might be inconsistent.
DELETE FROM auth.users 
WHERE email IN ('admin@dousha.com', 'provider@dousha.com', 'client@dousha.com');

-- 3. Also remove any orphaned audit entries if they exist (optional but safe)
-- DELETE FROM auth.audit_log_entries WHERE payload->>'email' IN ('admin@dousha.com', 'provider@dousha.com', 'client@dousha.com');
-- ============================================================
-- DOUSHA Platform - Migration 004
-- Ajustements pour respecter le cahier des charges Ã  100%
-- ============================================================

-- 1. Ajout des piÃ¨ces jointes dans la messagerie (Section 2.4 du cahier des charges)
-- Permet d'envoyer des contrats, moodboards, inspirations dans le chat
ALTER TABLE messages 
ADD COLUMN IF NOT EXISTS attachments JSONB DEFAULT '[]'::jsonb;

-- 2. SystÃ¨me de paiement, Facturation et Commissions (Sections 2.5 et 2.8)
-- Gestion fine de l'acompte (deposit), du reste Ã  payer (balance), du reÃ§u et de la commission plateforme
ALTER TABLE bookings 
ADD COLUMN IF NOT EXISTS deposit_amount NUMERIC(10,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS balance_amount NUMERIC(10,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS receipt_url TEXT,
ADD COLUMN IF NOT EXISTS platform_fee NUMERIC(10,2) DEFAULT 0;

-- 3. Politiques d'annulation (Section 2.5)
-- Chaque service peut dÃ©finir ses conditions (flexible, modÃ©rÃ©e, stricte)
ALTER TABLE services 
ADD COLUMN IF NOT EXISTS cancellation_policy TEXT DEFAULT 'flexible';

-- 4. Gestion des disponibilitÃ©s / Calendrier prestataire (Section 2.6)
-- Permet aux prestataires de bloquer des dates/heures pour Ã©viter les doubles rÃ©servations
CREATE TABLE IF NOT EXISTS provider_availabilities (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    provider_id UUID NOT NULL REFERENCES providers(id) ON DELETE CASCADE,
    date DATE NOT NULL,
    start_time TIME,
    end_time TIME,
    is_blocked BOOLEAN DEFAULT false,
    reason TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- Index pour optimiser les recherches de calendrier
CREATE INDEX IF NOT EXISTS idx_availabilities_provider ON provider_availabilities(provider_id);
CREATE INDEX IF NOT EXISTS idx_availabilities_date ON provider_availabilities(date);

-- Activer la sÃ©curitÃ© RLS
ALTER TABLE provider_availabilities ENABLE ROW LEVEL SECURITY;

-- Politiques RLS : Tout le monde peut voir les disponibilitÃ©s
CREATE POLICY "Availabilities are viewable by everyone" 
    ON provider_availabilities FOR SELECT 
    USING (true);

-- Politiques RLS : Seul le prestataire propriÃ©taire peut gÃ©rer son calendrier
CREATE POLICY "Providers can manage their own availabilities" 
    ON provider_availabilities FOR ALL 
    USING (
        provider_id IN (
            SELECT id FROM providers WHERE user_id = auth.uid()
        )
    )
    WITH CHECK (
        provider_id IN (
            SELECT id FROM providers WHERE user_id = auth.uid()
        )
    );

-- Trigger pour mettre Ã  jour automatiquement updated_at
CREATE TRIGGER update_provider_availabilities_updated_at
    BEFORE UPDATE ON provider_availabilities
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();
-- ============================================================
-- DOUSHA Platform - Migration 005
-- Tables manquantes : notifications, favorites, promo_codes
-- + colonne payment_intent_id sur bookings
-- ============================================================

-- 1. NOTIFICATIONS
-- SystÃ¨me de notifications in-app (Section 2.7 du cahier des charges)
CREATE TABLE IF NOT EXISTS notifications (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    type TEXT NOT NULL,
    title TEXT NOT NULL,
    message TEXT,
    data JSONB DEFAULT '{}',
    is_read BOOLEAN DEFAULT false,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_notifications_user ON notifications(user_id);
CREATE INDEX IF NOT EXISTS idx_notifications_read ON notifications(user_id, is_read);

ALTER TABLE notifications ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Service role full access" ON notifications;
CREATE POLICY "Service role full access" ON notifications FOR ALL USING (true) WITH CHECK (true);

-- Trigger updated_at
DROP TRIGGER IF EXISTS set_updated_at_notifications ON notifications;
CREATE TRIGGER set_updated_at_notifications
    BEFORE UPDATE ON notifications
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

-- 2. FAVORITES (Wishlist / Ø§Ù„Ù…ÙØ¶Ù„Ø©)
-- Permet aux clients de sauvegarder des services favoris
CREATE TABLE IF NOT EXISTS favorites (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    service_id UUID NOT NULL REFERENCES services(id) ON DELETE CASCADE,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(user_id, service_id)
);

CREATE INDEX IF NOT EXISTS idx_favorites_user ON favorites(user_id);
CREATE INDEX IF NOT EXISTS idx_favorites_service ON favorites(service_id);

ALTER TABLE favorites ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Service role full access" ON favorites;
CREATE POLICY "Service role full access" ON favorites FOR ALL USING (true) WITH CHECK (true);

-- 3. PROMO CODES (Codes promotionnels)
-- Permet aux prestataires de crÃ©er des codes de rÃ©duction
CREATE TABLE IF NOT EXISTS promo_codes (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    provider_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    code TEXT NOT NULL,
    discount_type TEXT NOT NULL DEFAULT 'percentage' CHECK (discount_type IN ('percentage', 'fixed')),
    discount_value NUMERIC(10,2) NOT NULL DEFAULT 0,
    max_uses INTEGER,
    uses_count INTEGER DEFAULT 0,
    expires_at TIMESTAMPTZ,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE UNIQUE INDEX IF NOT EXISTS idx_promo_codes_code ON promo_codes(code);
CREATE INDEX IF NOT EXISTS idx_promo_codes_provider ON promo_codes(provider_id);

ALTER TABLE promo_codes ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Service role full access" ON promo_codes;
CREATE POLICY "Service role full access" ON promo_codes FOR ALL USING (true) WITH CHECK (true);

-- Trigger updated_at
DROP TRIGGER IF EXISTS set_updated_at_promo_codes ON promo_codes;
CREATE TRIGGER set_updated_at_promo_codes
    BEFORE UPDATE ON promo_codes
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

-- 4. Colonne manquante : payment_intent_id sur bookings
-- Stocke l'ID du PaymentIntent Stripe pour l'idempotence
ALTER TABLE bookings
ADD COLUMN IF NOT EXISTS payment_intent_id TEXT;

CREATE INDEX IF NOT EXISTS idx_bookings_payment_intent ON bookings(payment_intent_id);
-- Fix password hash for all seed users
-- This hash corresponds to password: Dousha2026!
UPDATE auth.users 
SET encrypted_password = '$2b$12$LQv3c1yqBWVHxkd0LHAkCOYz6TtxMQJqhN8/LewdBPj6QJw/2Ej7W',
    email_confirmed_at = NOW()
WHERE email IN ('admin@dousha.com', 'sara@dousha.com', 'fatima@dousha.com', 'ahmed@dousha.com', 'nora@dousha.com');

-- Verify the fix
SELECT email, 
       crypt('Dousha2026!', encrypted_password) = encrypted_password as password_match
FROM auth.users 
WHERE email IN ('admin@dousha.com', 'sara@dousha.com', 'fatima@dousha.com', 'ahmed@dousha.com', 'nora@dousha.com');
-- Generate correct bcrypt hash for Dousha2026!
UPDATE auth.users 
SET encrypted_password = crypt('Dousha2026!', gen_salt('bf', 12)),
    email_confirmed_at = NOW()
WHERE email IN ('admin@dousha.com', 'sara@dousha.com', 'fatima@dousha.com', 'ahmed@dousha.com', 'nora@dousha.com');

-- Verify the fix
SELECT email, 
       crypt('Dousha2026!', encrypted_password) = encrypted_password as password_match
FROM auth.users 
WHERE email IN ('admin@dousha.com', 'sara@dousha.com', 'fatima@dousha.com', 'ahmed@dousha.com', 'nora@dousha.com');
-- Fix event_tasks table structure
-- Add missing is_completed column

-- Add missing is_completed column if it doesn't exist
ALTER TABLE event_tasks 
ADD COLUMN IF NOT EXISTS is_completed BOOLEAN DEFAULT FALSE;

-- Verify the structure of event_tasks
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'event_tasks' 
ORDER BY ordinal_position;
-- ============================================================
-- DOUSHA Platform - Migration 012
-- Table manquante : event_guests
-- ============================================================

CREATE TABLE IF NOT EXISTS event_guests (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    event_id UUID NOT NULL REFERENCES events(id) ON DELETE CASCADE,
    name TEXT NOT NULL,
    email TEXT,
    phone TEXT,
    status TEXT NOT NULL DEFAULT 'invited' CHECK (status IN ('invited', 'confirmed', 'declined', 'maybe')),
    notes TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_event_guests_event ON event_guests(event_id);

ALTER TABLE event_guests ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Service role full access" ON event_guests;
CREATE POLICY "Service role full access" ON event_guests FOR ALL USING (true) WITH CHECK (true);

-- Trigger updated_at
DROP TRIGGER IF EXISTS set_updated_at_event_guests ON event_guests;
CREATE TRIGGER set_updated_at_event_guests
    BEFORE UPDATE ON event_guests
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();
-- Fix event_tasks schema
ALTER TABLE event_tasks
ADD COLUMN IF NOT EXISTS title VARCHAR(255) NOT NULL DEFAULT '',
ADD COLUMN IF NOT EXISTS description TEXT DEFAULT '',
ADD COLUMN IF NOT EXISTS due_date DATE,
ADD COLUMN IF NOT EXISTS status VARCHAR(20) DEFAULT 'pending' CHECK (status IN ('pending', 'in_progress', 'completed')),
ADD COLUMN IF NOT EXISTS assigned_to VARCHAR(255) DEFAULT '',
ADD COLUMN IF NOT EXISTS is_completed BOOLEAN DEFAULT FALSE;

-- Fix event_timeline_items schema
ALTER TABLE event_timeline_items
ADD COLUMN IF NOT EXISTS start_time TIME NOT NULL DEFAULT '00:00:00',
ADD COLUMN IF NOT EXISTS end_time TIME,
ADD COLUMN IF NOT EXISTS activity VARCHAR(255) NOT NULL DEFAULT '',
ADD COLUMN IF NOT EXISTS description TEXT DEFAULT '',
ADD COLUMN IF NOT EXISTS order_index INTEGER DEFAULT 0;

-- Fix event_budgets schema
ALTER TABLE event_budgets
ADD COLUMN IF NOT EXISTS category VARCHAR(255) NOT NULL DEFAULT 'Venue',
ADD COLUMN IF NOT EXISTS item_name VARCHAR(255) NOT NULL DEFAULT '',
ADD COLUMN IF NOT EXISTS estimated_cost NUMERIC(12,2) NOT NULL DEFAULT 0,
ADD COLUMN IF NOT EXISTS actual_cost NUMERIC(12,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS paid_amount NUMERIC(12,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS notes TEXT DEFAULT '';
-- Ensure event_budgets table has correct schema
ALTER TABLE event_budgets
ADD COLUMN IF NOT EXISTS category VARCHAR(255) NOT NULL DEFAULT 'Venue',
ADD COLUMN IF NOT EXISTS item_name VARCHAR(255) NOT NULL,
ADD COLUMN IF NOT EXISTS estimated_cost NUMERIC(12,2) NOT NULL DEFAULT 0,
ADD COLUMN IF NOT EXISTS actual_cost NUMERIC(12,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS paid_amount NUMERIC(12,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS notes TEXT DEFAULT '';

-- Ensure event_timeline_items table has correct schema
ALTER TABLE event_timeline_items
ADD COLUMN IF NOT EXISTS start_time TIME NOT NULL,
ADD COLUMN IF NOT EXISTS end_time TIME,
ADD COLUMN IF NOT EXISTS activity VARCHAR(255) NOT NULL,
ADD COLUMN IF NOT EXISTS description TEXT DEFAULT '',
ADD COLUMN IF NOT EXISTS order_index INTEGER DEFAULT 0;

-- Ensure event_tasks table has correct schema
ALTER TABLE event_tasks
ADD COLUMN IF NOT EXISTS title VARCHAR(255) NOT NULL,
ADD COLUMN IF NOT EXISTS description TEXT DEFAULT '',
ADD COLUMN IF NOT EXISTS due_date DATE,
ADD COLUMN IF NOT EXISTS status VARCHAR(20) DEFAULT 'pending' CHECK (status IN ('pending', 'in_progress', 'completed')),
ADD COLUMN IF NOT EXISTS assigned_to VARCHAR(255) DEFAULT '',
ADD COLUMN IF NOT EXISTS is_completed BOOLEAN DEFAULT FALSE;
-- ============================================================
-- Migration 013: Platform Improvements
-- Adds: audit_logs, commissions, cancellation_policies, provider_kyc_documents
-- Updates: messages (attachments), services (cancellation_policy)
-- ============================================================

-- ============================================================
-- AUDIT LOGS
-- ============================================================
CREATE TABLE IF NOT EXISTS audit_logs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES user_profiles(id) ON DELETE SET NULL,
    action TEXT NOT NULL,         -- e.g. 'booking.created', 'booking.cancelled', 'review.deleted'
    entity TEXT NOT NULL,         -- e.g. 'bookings', 'reviews', 'payments'
    entity_id TEXT,               -- ID of the affected record
    metadata JSONB DEFAULT '{}',  -- Extra context (old values, reason, etc.)
    ip_address TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_audit_logs_user ON audit_logs(user_id);
CREATE INDEX IF NOT EXISTS idx_audit_logs_action ON audit_logs(action);
CREATE INDEX IF NOT EXISTS idx_audit_logs_entity ON audit_logs(entity, entity_id);
CREATE INDEX IF NOT EXISTS idx_audit_logs_created_at ON audit_logs(created_at DESC);

ALTER TABLE audit_logs ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Service role full access" ON audit_logs FOR ALL USING (true) WITH CHECK (true);

-- ============================================================
-- COMMISSIONS
-- ============================================================
CREATE TABLE IF NOT EXISTS commissions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    booking_id UUID NOT NULL REFERENCES bookings(id) ON DELETE CASCADE,
    provider_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    gross_amount NUMERIC(10,2) NOT NULL DEFAULT 0,
    commission_rate NUMERIC(5,4) NOT NULL DEFAULT 0.05,  -- 5% by default
    commission_amount NUMERIC(10,2) NOT NULL DEFAULT 0,
    net_payout NUMERIC(10,2) NOT NULL DEFAULT 0,         -- gross - commission
    status TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'paid', 'cancelled')),
    paid_at TIMESTAMPTZ,
    notes TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(booking_id)
);

CREATE INDEX IF NOT EXISTS idx_commissions_booking ON commissions(booking_id);
CREATE INDEX IF NOT EXISTS idx_commissions_provider ON commissions(provider_id);
CREATE INDEX IF NOT EXISTS idx_commissions_status ON commissions(status);

ALTER TABLE commissions ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Service role full access" ON commissions FOR ALL USING (true) WITH CHECK (true);

-- ============================================================
-- CANCELLATION POLICIES
-- ============================================================
CREATE TABLE IF NOT EXISTS cancellation_policies (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    provider_id UUID NOT NULL REFERENCES user_profiles(id) ON DELETE CASCADE,
    name TEXT NOT NULL,
    description TEXT,
    notice_days INTEGER NOT NULL DEFAULT 7,         -- Days of notice required
    refund_percentage INTEGER NOT NULL DEFAULT 0 CHECK (refund_percentage >= 0 AND refund_percentage <= 100),
    is_default BOOLEAN DEFAULT false,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_cancellation_policies_provider ON cancellation_policies(provider_id);

ALTER TABLE cancellation_policies ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Service role full access" ON cancellation_policies FOR ALL USING (true) WITH CHECK (true);

-- Add cancellation_policy column directly on services (inline JSON for simplicity)
ALTER TABLE services
    ADD COLUMN IF NOT EXISTS cancellation_policy JSONB DEFAULT '{"notice_days": 7, "refund_percentage": 0, "description": ""}';

-- ============================================================
-- PROVIDER KYC DOCUMENTS
-- ============================================================
CREATE TABLE IF NOT EXISTS provider_kyc_documents (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    provider_id UUID NOT NULL REFERENCES providers(id) ON DELETE CASCADE,
    document_type TEXT NOT NULL CHECK (document_type IN ('id_card', 'business_license', 'tax_certificate', 'bank_statement', 'other')),
    file_url TEXT NOT NULL,
    original_name TEXT,
    status TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'approved', 'rejected')),
    reviewer_id UUID REFERENCES user_profiles(id) ON DELETE SET NULL,
    reviewer_notes TEXT,
    reviewed_at TIMESTAMPTZ,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_kyc_docs_provider ON provider_kyc_documents(provider_id);
CREATE INDEX IF NOT EXISTS idx_kyc_docs_status ON provider_kyc_documents(status);

ALTER TABLE provider_kyc_documents ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Service role full access" ON provider_kyc_documents FOR ALL USING (true) WITH CHECK (true);

-- ============================================================
-- MESSAGES â€” Add attachments column
-- ============================================================
ALTER TABLE messages
    ADD COLUMN IF NOT EXISTS attachments JSONB DEFAULT '[]';
-- Each attachment: { url, name, type, size }

-- ============================================================
-- APPLY updated_at TRIGGER to new tables
-- ============================================================
DO $$
DECLARE
    t TEXT;
BEGIN
    FOR t IN SELECT unnest(ARRAY['commissions', 'cancellation_policies', 'provider_kyc_documents']) LOOP
        EXECUTE format('
            DROP TRIGGER IF EXISTS set_updated_at ON %I;
            CREATE TRIGGER set_updated_at
                BEFORE UPDATE ON %I
                FOR EACH ROW
                EXECUTE FUNCTION update_updated_at_column();
        ', t, t);
    END LOOP;
END;
$$;

-- ============================================================
-- DONE: Migration 013
-- ============================================================
-- Ensure conversations table exists
CREATE TABLE IF NOT EXISTS conversations (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    participant_ids UUID[] NOT NULL,
    last_message_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Ensure messages table exists with correct schema
CREATE TABLE IF NOT EXISTS messages (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    conversation_id UUID NOT NULL REFERENCES conversations(id) ON DELETE CASCADE,
    sender_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    content TEXT NOT NULL,
    type VARCHAR(20) DEFAULT 'text',
    read_at TIMESTAMP WITH TIME ZONE,
    metadata JSONB DEFAULT '{}',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Add indexes for performance
CREATE INDEX IF NOT EXISTS idx_conversations_participant_ids ON conversations USING GIN(participant_ids);
CREATE INDEX IF NOT EXISTS idx_conversations_last_message_at ON conversations(last_message_at);
CREATE INDEX IF NOT EXISTS idx_messages_conversation_id ON messages(conversation_id);
CREATE INDEX IF NOT EXISTS idx_messages_sender_id ON messages(sender_id);
CREATE INDEX IF NOT EXISTS idx_messages_created_at ON messages(created_at);
-- Add advanced fields to providers table for better filtering
ALTER TABLE providers
ADD COLUMN IF NOT EXISTS min_price NUMERIC(12,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS max_price NUMERIC(12,2) DEFAULT 999999,
ADD COLUMN IF NOT EXISTS max_capacity INTEGER DEFAULT 0,
ADD COLUMN IF NOT EXISTS categories TEXT[] DEFAULT '{}',
ADD COLUMN IF NOT EXISTS event_styles TEXT[] DEFAULT '{}',
ADD COLUMN IF NOT EXISTS portfolio_images TEXT[] DEFAULT '{}',
ADD COLUMN IF NOT EXISTS video_url TEXT,
ADD COLUMN IF NOT EXISTS languages TEXT[] DEFAULT '{fr,ar}',
ADD COLUMN IF NOT EXISTS years_experience INTEGER DEFAULT 0,
ADD COLUMN IF NOT EXISTS response_time_hours INTEGER DEFAULT 24;

-- Add indexes for performance
CREATE INDEX IF NOT EXISTS idx_providers_categories ON providers USING GIN(categories);
CREATE INDEX IF NOT EXISTS idx_providers_event_styles ON providers USING GIN(event_styles);
CREATE INDEX IF NOT EXISTS idx_providers_min_price ON providers(min_price);
CREATE INDEX IF NOT EXISTS idx_providers_max_price ON providers(max_price);
CREATE INDEX IF NOT EXISTS idx_providers_max_capacity ON providers(max_capacity);
-- Create quote_requests table for multi-provider quote requests
CREATE TABLE IF NOT EXISTS quote_requests (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    event_id UUID REFERENCES events(id) ON DELETE CASCADE,
    client_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    title VARCHAR(255) NOT NULL,
    description TEXT NOT NULL,
    items JSONB NOT NULL DEFAULT '[]',
    provider_ids UUID[] NOT NULL DEFAULT '{}',
    deadline TIMESTAMP WITH TIME ZONE,
    max_budget NUMERIC(12,2),
    event_type VARCHAR(100),
    event_date DATE,
    location TEXT,
    guest_count INTEGER,
    status VARCHAR(20) DEFAULT 'open' CHECK (status IN ('open', 'closed', 'draft')),
    notes TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Enhance quotes table
ALTER TABLE quotes
ADD COLUMN IF NOT EXISTS quote_request_id UUID REFERENCES quote_requests(id) ON DELETE CASCADE,
ADD COLUMN IF NOT EXISTS subtotal NUMERIC(12,2) NOT NULL DEFAULT 0,
ADD COLUMN IF NOT EXISTS discount_amount NUMERIC(12,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS tax_rate NUMERIC(5,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS tax_amount NUMERIC(12,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS notes TEXT,
ADD COLUMN IF NOT EXISTS terms TEXT;

-- Update items structure to be JSONB for better flexibility
ALTER TABLE quotes
ADD COLUMN IF NOT EXISTS items_json JSONB DEFAULT '[]';

-- Migrate existing items array to JSONB if needed
UPDATE quotes SET items_json = items::jsonb WHERE items IS NOT NULL AND items_json = '[]';

-- Add indexes for performance
CREATE INDEX IF NOT EXISTS idx_quote_requests_client_id ON quote_requests(client_id);
CREATE INDEX IF NOT EXISTS idx_quote_requests_event_id ON quote_requests(event_id);
CREATE INDEX IF NOT EXISTS idx_quote_requests_status ON quote_requests(status);
CREATE INDEX IF NOT EXISTS idx_quote_requests_deadline ON quote_requests(deadline);
CREATE INDEX IF NOT EXISTS idx_quotes_quote_request_id ON quotes(quote_request_id);
CREATE INDEX IF NOT EXISTS idx_quotes_provider_id ON quotes(provider_id);
CREATE INDEX IF NOT EXISTS idx_quotes_client_id ON quotes(client_id);
CREATE INDEX IF NOT EXISTS idx_quotes_status ON quotes(status);
-- Enhance bookings table for professional booking management
ALTER TABLE bookings
ADD COLUMN IF NOT EXISTS quote_id UUID REFERENCES quotes(id) ON DELETE SET NULL,
ADD COLUMN IF NOT EXISTS start_time TIME,
ADD COLUMN IF NOT EXISTS end_time TIME,
ADD COLUMN IF NOT EXISTS status VARCHAR(20) DEFAULT 'pending' CHECK (status IN ('pending', 'confirmed', 'cancelled', 'completed', 'rejected')),
ADD COLUMN IF NOT EXISTS cancellation_reason TEXT,
ADD COLUMN IF NOT EXISTS cancellation_deadline TIMESTAMP WITH TIME ZONE,
ADD COLUMN IF NOT EXISTS provider_notes TEXT,
ADD COLUMN IF NOT EXISTS client_notes TEXT,
ADD COLUMN IF NOT EXISTS requirements TEXT[] DEFAULT '{}',
ADD COLUMN IF NOT EXISTS location TEXT,
ADD COLUMN IF NOT EXISTS guest_count INTEGER,
ADD COLUMN IF NOT EXISTS payment_status VARCHAR(20) DEFAULT 'pending' CHECK (payment_status IN ('pending', 'deposit_paid', 'fully_paid', 'refunded'));

-- Update payment_status enum values
UPDATE bookings SET payment_status = 'pending' WHERE payment_status = 'paid';

-- Add indexes for performance
CREATE INDEX IF NOT EXISTS idx_bookings_quote_id ON bookings(quote_id);
CREATE INDEX IF NOT EXISTS idx_bookings_status ON bookings(status);
CREATE INDEX IF NOT EXISTS idx_bookings_payment_status ON bookings(payment_status);
CREATE INDEX IF NOT EXISTS idx_bookings_cancellation_deadline ON bookings(cancellation_deadline);
CREATE INDEX IF NOT EXISTS idx_bookings_booking_date ON bookings(booking_date);

-- Create booking_notifications table for professional notifications
CREATE TABLE IF NOT EXISTS booking_notifications (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    booking_id UUID REFERENCES bookings(id) ON DELETE CASCADE,
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    type VARCHAR(50) NOT NULL CHECK (type IN ('booking_created', 'booking_confirmed', 'booking_cancelled', 'payment_received', 'reminder', 'review_request')),
    title VARCHAR(255) NOT NULL,
    message TEXT NOT NULL,
    is_read BOOLEAN DEFAULT FALSE,
    sent_via_email BOOLEAN DEFAULT FALSE,
    sent_via_push BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Add indexes for notifications
CREATE INDEX IF NOT EXISTS idx_booking_notifications_booking_id ON booking_notifications(booking_id);
CREATE INDEX IF NOT EXISTS idx_booking_notifications_user_id ON booking_notifications(user_id);
CREATE INDEX IF NOT EXISTS idx_booking_notifications_type ON booking_notifications(type);
CREATE INDEX IF NOT EXISTS idx_booking_notifications_is_read ON booking_notifications(is_read);
-- Add payment tracking fields to bookings table
ALTER TABLE bookings
ADD COLUMN IF NOT EXISTS payment_intent_ids UUID[] DEFAULT '{}',
ADD COLUMN IF NOT EXISTS deposit_percentage NUMERIC(5,2) DEFAULT 20.00,
ADD COLUMN IF NOT EXISTS auto_refund_deadline TIMESTAMP WITH TIME ZONE;

-- Create payment_records table for detailed payment tracking
CREATE TABLE IF NOT EXISTS payment_records (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    booking_id UUID REFERENCES bookings(id) ON DELETE CASCADE,
    payment_intent_id VARCHAR(255) NOT NULL,
    payment_type VARCHAR(20) NOT NULL CHECK (payment_type IN ('deposit', 'balance', 'full', 'refund')),
    amount NUMERIC(12,2) NOT NULL,
    currency VARCHAR(3) DEFAULT 'QAR',
    status VARCHAR(20) DEFAULT 'pending' CHECK (status IN ('pending', 'processing', 'completed', 'failed', 'refunded')),
    stripe_fee NUMERIC(12,2) DEFAULT 0,
    platform_fee NUMERIC(12,2) DEFAULT 0,
    net_amount NUMERIC(12,2) NOT NULL,
    receipt_url TEXT,
    refund_id VARCHAR(255),
    refund_reason TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create refund_policies table
CREATE TABLE IF NOT EXISTS refund_policies (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name VARCHAR(255) NOT NULL,
    description TEXT,
    deposit_refund_policy VARCHAR(20) NOT NULL CHECK (deposit_refund_policy IN ('full', 'partial', 'none')),
    deposit_refund_percentage NUMERIC(5,2) DEFAULT 0,
    balance_refund_policy VARCHAR(20) NOT NULL CHECK (balance_refund_policy IN ('full', 'partial', 'none')),
    balance_refund_percentage NUMERIC(5,2) DEFAULT 0,
    days_before_event_for_full_refund INTEGER DEFAULT 7,
    days_before_event_for_partial_refund INTEGER DEFAULT 3,
    is_default BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Add refund_policy_id to bookings
ALTER TABLE bookings
ADD COLUMN IF NOT EXISTS refund_policy_id UUID REFERENCES refund_policies(id);

-- Add indexes for performance
CREATE INDEX IF NOT EXISTS idx_payment_records_booking_id ON payment_records(booking_id);
CREATE INDEX IF NOT EXISTS idx_payment_records_payment_intent_id ON payment_records(payment_intent_id);
CREATE INDEX IF NOT EXISTS idx_payment_records_status ON payment_records(status);
CREATE INDEX IF NOT EXISTS idx_payment_records_created_at ON payment_records(created_at);
CREATE INDEX IF NOT EXISTS idx_bookings_payment_intent_ids ON bookings USING GIN(payment_intent_ids);
CREATE INDEX IF NOT EXISTS idx_bookings_auto_refund_deadline ON bookings(auto_refund_deadline);

-- Insert default refund policies
INSERT INTO refund_policies (name, description, deposit_refund_policy, deposit_refund_percentage, balance_refund_policy, balance_refund_percentage, days_before_event_for_full_refund, days_before_event_for_partial_refund, is_default) VALUES
('Standard', 'Politique de remboursement standard', 'partial', 50, 'full', 100, 7, 3, true),
('Strict', 'Politique de remboursement stricte', 'none', 0, 'partial', 50, 14, 7, false),
('Flexible', 'Politique de remboursement flexible', 'full', 100, 'full', 100, 3, 1, false)
ON CONFLICT DO NOTHING;

-- Update existing bookings to use default refund policy
UPDATE bookings 
SET refund_policy_id = (SELECT id FROM refund_policies WHERE is_default = true LIMIT 1)
WHERE refund_policy_id IS NULL;
-- Create moderation reports table
CREATE TABLE IF NOT EXISTS moderation_reports (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    reporter_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    reported_type VARCHAR(20) NOT NULL CHECK (reported_type IN ('provider', 'service', 'review', 'user', 'booking', 'quote')),
    reported_id UUID NOT NULL,
    reason VARCHAR(255) NOT NULL,
    description TEXT NOT NULL,
    evidence_urls TEXT[] DEFAULT '{}',
    status VARCHAR(20) DEFAULT 'pending' CHECK (status IN ('pending', 'approved', 'rejected', 'resolved')),
    moderator_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,
    moderator_notes TEXT,
    moderated_at TIMESTAMP WITH TIME ZONE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create moderation logs table
CREATE TABLE IF NOT EXISTS moderation_logs (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    report_id UUID REFERENCES moderation_reports(id) ON DELETE CASCADE,
    moderator_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    action VARCHAR(20) NOT NULL CHECK (action IN ('approve', 'reject', 'ban', 'suspend', 'warn')),
    details TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Add moderation fields to existing tables
ALTER TABLE providers
ADD COLUMN IF NOT EXISTS is_banned BOOLEAN DEFAULT FALSE,
ADD COLUMN IF NOT EXISTS is_suspended BOOLEAN DEFAULT FALSE,
ADD COLUMN IF NOT EXISTS ban_until TIMESTAMP WITH TIME ZONE,
ADD COLUMN IF NOT EXISTS suspend_until TIMESTAMP WITH TIME ZONE,
ADD COLUMN IF NOT EXISTS ban_reason TEXT,
ADD COLUMN IF NOT EXISTS suspension_reason TEXT;

ALTER TABLE services
ADD COLUMN IF NOT EXISTS is_active BOOLEAN DEFAULT TRUE,
ADD COLUMN IF NOT EXISTS moderation_status VARCHAR(20) DEFAULT 'approved' CHECK (moderation_status IN ('approved', 'pending', 'rejected', 'banned', 'suspended')),
ADD COLUMN IF NOT EXISTS moderation_notes TEXT;

ALTER TABLE user_profiles
ADD COLUMN IF NOT EXISTS is_banned BOOLEAN DEFAULT FALSE,
ADD COLUMN IF NOT EXISTS ban_until TIMESTAMP WITH TIME ZONE,
ADD COLUMN IF NOT EXISTS ban_reason TEXT;

ALTER TABLE reviews
ADD COLUMN IF NOT EXISTS is_hidden BOOLEAN DEFAULT FALSE,
ADD COLUMN IF NOT EXISTS moderation_notes TEXT;

-- Create KYC documents table
CREATE TABLE IF NOT EXISTS kyc_documents (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    provider_id UUID REFERENCES providers(id) ON DELETE CASCADE,
    document_type VARCHAR(50) NOT NULL CHECK (document_type IN ('id_card', 'business_license', 'tax_certificate', 'insurance', 'portfolio', 'other')),
    document_url TEXT NOT NULL,
    document_name VARCHAR(255) NOT NULL,
    file_size INTEGER NOT NULL,
    mime_type VARCHAR(100) NOT NULL,
    status VARCHAR(20) DEFAULT 'pending' CHECK (status IN ('pending', 'approved', 'rejected', 'expired')),
    submitted_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    reviewed_at TIMESTAMP WITH TIME ZONE,
    reviewer_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,
    reviewer_notes TEXT,
    rejection_reason TEXT,
    expires_at TIMESTAMP WITH TIME ZONE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create notifications table if not exists (for moderation warnings)
CREATE TABLE IF NOT EXISTS notifications (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    type VARCHAR(50) NOT NULL,
    title VARCHAR(255) NOT NULL,
    message TEXT NOT NULL,
    is_read BOOLEAN DEFAULT FALSE,
    metadata JSONB DEFAULT '{}',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Add indexes for performance
CREATE INDEX IF NOT EXISTS idx_moderation_reports_reporter_id ON moderation_reports(reporter_id);
CREATE INDEX IF NOT EXISTS idx_moderation_reports_status ON moderation_reports(status);
CREATE INDEX IF NOT EXISTS idx_moderation_reports_type ON moderation_reports(reported_type);
CREATE INDEX IF NOT EXISTS idx_moderation_reports_created_at ON moderation_reports(created_at);
CREATE INDEX IF NOT EXISTS idx_moderation_logs_report_id ON moderation_logs(report_id);
CREATE INDEX IF NOT EXISTS idx_moderation_logs_moderator_id ON moderation_logs(moderator_id);
CREATE INDEX IF NOT EXISTS idx_kyc_documents_provider_id ON kyc_documents(provider_id);
CREATE INDEX IF NOT EXISTS idx_kyc_documents_status ON kyc_documents(status);
CREATE INDEX IF NOT EXISTS idx_kyc_documents_submitted_at ON kyc_documents(submitted_at);
CREATE INDEX IF NOT EXISTS idx_notifications_user_id ON notifications(user_id);
CREATE INDEX IF NOT EXISTS idx_notifications_type ON notifications(type);
CREATE INDEX IF NOT EXISTS idx_notifications_is_read ON notifications(is_read);

-- Add indexes for moderation fields
CREATE INDEX IF NOT EXISTS idx_providers_is_banned ON providers(is_banned);
CREATE INDEX IF NOT EXISTS idx_providers_is_suspended ON providers(is_suspended);
CREATE INDEX IF NOT EXISTS idx_services_is_active ON services(is_active);
CREATE INDEX IF NOT EXISTS idx_services_moderation_status ON services(moderation_status);
CREATE INDEX IF NOT EXISTS idx_user_profiles_is_banned ON user_profiles(is_banned);
CREATE INDEX IF NOT EXISTS idx_reviews_is_hidden ON reviews(is_hidden);
